// Place all the styles related to the rodovias controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.linha-segmentos{
	display: block;
	height: 100%;
	width: 10px;
	margin: 0 auto;
	background: black;
	position: relative;	
	border-radius: 5px;
}